
/* Bootstrap import */
// color
$baseColor:#0C0B0B;
$orangeColor:#FF7700;
$white:#FFFFFF;
$unactiveColor:#7D7B7B;
$fontGrey:#CFCFCF;
$blackColor:#3C3A3A;
$globalFont:"Poppins",serif;
$introFont:'Playfair Display', serif;

/* font-family: 'Playfair Display', serif; */
/* font-family: 'Poppins', sans-serif; */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: $globalFont;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none ;
}

a:active,
a:visited
{
    color: none !important;
}
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; /* 1 */
    /* 1 */
   margin: 0; /* 2 */
 }
 
 /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
 
 button,
 input { /* 1 */
   overflow: visible;
 }
 
 /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
 
 button,
 select { /* 1 */
   text-transform: none;
 }
 
 /**
  * Correct the inability to style clickable types in iOS and Safari.
  */
 
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }





