body{
    background-color: $baseColor;
    color: $white;
}
.uppercase{
    text-transform: uppercase;
}

/*Navbar */
.navigation__button{
    width: 28.3px;
    height: 10px;
    background-color: red;
    position: relative;
}

.navigation__list {
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 9;
    left: 0px;
    text-align: center;
    span {
        font-weight: 800;
    }
    li{
        padding: 40px;
    }
    a{
        font-size: 2.25rem;
        font-weight: 800;
    }
    display: none;
}
.c-white{
    color: $white;
}
.c-orange{
    color: $orangeColor;
}
.b-black{
    background-color:$baseColor;
}
.b-white{
    background-color: $white;
}
.b-orange{
    background-color: $orangeColor;
}

.navigation__open{
    width:25px;
    height: 2px;
    background-color:$white;
    display: block;
    position: relative;
}
.navigation__open::after{
    content: "";
    width: 30px;
    height: 2px;
    background-color: $white;
    position: absolute;
    top: 6px;
    right: 0;
    cursor: pointer;
}
.navigation__open::before{
    content: "";
    width: 20px;
    height: 2px;
    background-color: $white;
    position: absolute;
    top: -6px;
    right: 0;
    cursor: pointer;
}

.navigation__close{
    width: 30px;
    height: 2px;;
    background-color: aqua;
    position: absolute;
    top: 6%;
    right: 10%;
    visibility: hidden;
    cursor: pointer;
}
.navigation__close::after{
    content: "";
    width: 30px;
    height: 2px;;
    background-color: $white;
    position: absolute;
    top: 0%;
    visibility: visible;
    transform: rotate(135deg);
}
.navigation__close::before{
    content: "";
    width: 30px;
    height: 2px;;
    background-color:$white;
    position: absolute;
    top: 0%;
    transform: rotate(45deg);
    visibility:visible; 
}

header{
    display: flex;
    align-items: center;
    margin: 20px;
    .logo{
        margin: auto;
        font-weight: 800;
        text-transform: uppercase;
    }
}
.first_article {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    padding: 0 25px;

    h2{
        font-size: 2.25rem;
        color:$orangeColor;
    }
    span{
        font-weight: 600;
    }
    p{
        color: $fontGrey;
        font-weight: 400;
    }
}

#pretitle {
    font-size:1rem;
}

button, .button {
    border-style: none;
    margin-top: 10px;
}

.button {
    padding: 15px 40px;
    background-color: $orangeColor;
    border-radius: 63px;
    font-weight: 700;
    a{
        color: $white
    }
    ;
}

.no_button{
    background: none;
    color: $white;
    font-weight: 400;
    text-decoration: underline;
    padding-left: 25px;
}
.no_button,
.button{
    font-size:.875rem;
}
.home_imageBox{
    max-width: 341.33px;
    height:330.55px;
    border: 1px solid;
    margin: 58px auto 0 auto;
    border-bottom: none;
    border-image: linear-gradient( to bottom, $fontGrey,rgba(63, 66, 64, 0.829));
    border-image-slice: 1;
    position: relative;
    
}

// media queries 

@media (min-width: 768px){
    .first_article{
        margin-right: auto;
        margin-left: auto;
        max-width: 460px;
        #pretitle{
            font-size: 2.25rem;
            font-weight:700;
        }
        h2{
            font-size: 3.125rem;
            font-weight: 800;
        }
        h3{
            font-size: 1.125rem;
            font-weight: 600;
        }
        p{
            font-size: 1rem;
        }
        .buttons{
            margin: 10px auto 0 auto;
            position: relative;
            top: 14px
        }
    }
    .home_imageBox{
        min-width: 588.8px;
        min-height: 500px;
        position: relative;
        margin: 0 auto;
        top: -45px;
        padding-top: 60px;
    }
    
}

 /* Medium Devices, Desktops */
 @media only screen and (min-width : 992px) {
     

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .home_imageBox{
        top: 0px;
    }
}